<?xml version='1.0' encoding='utf-8'?>
<widget id="io.shirkan.RavKav" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>רב-קו</name>
    <description>
        Rav-Kav contracts application
    </description>
    <author email="gshirkan@gmail.com">
        Liran Cohen
    </author>
    <content src="index.html" />
    <access origin="*" />
	<preference name="StatusBarOverlaysWebView" value="false"/> 
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarColor" value="#FFFFFF" />
</widget>
