body {
	background-color: black;
	font-family: Arial;
}

h3, h4 {
	color: white;
}

div {
	color: white;
	background-color: black;
}

table, td, tr, table tr, table tr td, table * {
	margin: 3px;
	/*border: solid white 1px;*/
}

#outerDiv {
	height: 100% !important;
}

#bodyDiv {
	text-align: center;
	height: 90% !important;
	width: auto;
	border-radius: 6px;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	margin: 3px 3px 3px 3px;
	position: relative;
}

#about {
	position: absolute;
	color: black;
	background-color: white;
	border-radius: 10px;
	top: 3%;
	left: 92%;
	width: 18px;
}

#aboutDialog {
	text-align: center;
}

#addContractButtonBG {
	background-color: white;
	border-radius: 6px;
	display: inline-block;
}

#addContractButton {
	background-color: white;
	color: black;
	font-style: bold;
	font-size: medium;
	font-family: Arial;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	border-radius: 6px;
	margin: 3px 3px 3px 3px;
}

#contractsCanvas {
	overflow: auto;
	display: block;
}

#contractsCanvas div {
	padding: 0 4px;
	display: block;
}

#contractsCanvas button {
	width: auto;
	height: auto;
	color: white;
	background-color: black;
	border: white solid 2px;
	border-radius: 6px;
	font-size: medium;
	font-family: Arial;
}

#contractEditDiv button {
	color: white;
	background-color: black;
	border:	solid 2px white;
	border-radius: 6px;
}

#contractEditDiv input {
	font-size: small;
}

#contractEditLabel {
	font-size: small;
	margin: auto;
	text-align: center
}

.no-close .ui-dialog-titlebar-close, .no-close .ui-dialog-titlebar-close * {
  display: none;
}

.ui-icon {
	text-indent: 0;
}

.ui-dialog-titlebar{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

.ui-dialog {
	float: none;
	border: white solid;
	border-radius: 6px;
	font-size: small;
}

.ui-dialog .ui-dialog-buttonpane {
	padding: 0;
}

.ui-dialog .ui-resizable-se{
	width: 9px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset, .ui-dialog .ui-dialog-title, .ui-dialog-title {
	float:none;
}

.ui-button {
	background-color: black;
	border: white solid 2px;
	border-radius: 6px;
	padding: none;
	font-size: small;
}

.ui-buttonset, .ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: 0;
}

.ui-state-active {
	color: black;
	background-color: white;
	border-color: black;
	font-weight: bold;
}

select {
	display: inline-block;
	background-color: black;
	color: white;
}

.ui-selectmenu-button {
	margin: -5px;
	display: none;
}

.ui-widget-overlay {
	opacity: .5;
}

.ui-button-text-only .ui-button-text {
	padding: .4em;
}

.ui-dialog .ui-dialog-buttonpane button {
	background-color: white;
	color: black;
	height: auto;
	width: auto;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	border-radius: 6px;
	margin: 0px 0px 0px 0px;
}

.ui-dialog .ui-dialog-content {
	padding: .5em;
}

.ui-datepicker {
	border: solid white 1px;
	border-radius: 6px;
}

.ui-datepicker a {
	color: white;
}

.ui-datepicker .ui-state-active {
	color: black;
}

#typeTR *, #valueTR * {
	padding: 3px 0;
}

#addContractDialog * td {
	text-align:right;
}
